<nav class="navbar fixed-top navbar-expand-lg navbar-dark position-absolute">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">Doação Pet</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="menuDoacao">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuDoacao" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/pets" class="nav-link">
            <i class="fas fa-paw"></i> Pets</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">
            <i class="fas fa-heart"></i> Sobre nós</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <div *ngIf="loginService.user | async as user; else loading">
          <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="user_options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.displayName}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user_options">
              <img class="rounded-circle" [src]="user.photoURL" alt="Generic placeholder image" width="80" height="80">
              <div class="dropdown-divider"></div>
              <a routerLink="/user" class="dropdown-item">Dados</a>
              <a routerLink="/pets-my" class="dropdown-item">Meus Anúncios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" (click)="loginService.logout()" href="#">Sair</a>
            </div>
          </li>
        </div>
        <ng-template #loading>
          <li>
            <a routerLink="/login" class="nav-link">Entre</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link">Cadastre-se</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
