<app-pets-menu></app-pets-menu>

<section class="container-fluid pl-md-0">
  <div class="row">
    <div class="col-12 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-10 my-4">
      <h1 class="text-info">Meus pets</h1>
      <div class="card">
        <header class="card-header p-3">
          <h5 class="mb-0">Listagem de Anúncios</h5>
        </header>
        <main class="card-body">

        </main>
        <ng-template #nothing>
            <h5 class="text-muted">Você ainda não possui nenhum anúncio!</h5>
        </ng-template>
      </div>
    </div>
  </div>
</section>
