<app-pets-menu></app-pets-menu>

<section class="container-fluid pl-md-0">
  <div class="row">
    <div class="col-12 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-9 my-4">
      <h1 class="text-info">Anuncie seu pet</h1>
      <form #petForm="ngForm" (ngSubmit)='onSubmit(petForm)'>
        <input name="$key" #$key="ngModel" type="hidden" [(ngModel)]='petService.selectedPet.$key'>
        <div *ngIf="loginService.user | async as user; else elseBlock">
          <h3>{{user.uid}}</h3>
        </div>
        <ng-template #elseBlock>
          <h3>Faça o login para poder cadastrar o animal</h3>
        </ng-template>
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <input class="form-control" id="tipo" name="tipo" #tipo="ngModel" type="text" [(ngModel)]='petService.selectedPet.tipo' placeholder="Tipo do animal"
            required>
        </div>
        <div class="form-group">
          <label for="raca">Raça</label>
          <input class="form-control" id="raca" name="raca" #raca="ngModel" type="text" [(ngModel)]='petService.selectedPet.raca' placeholder="Raça do animal"
            required>
        </div>
        <div class="form-group">
          <label for="porte">Porte</label>
          <input class="form-control" id="porte" name="porte" #porte="ngModel" type="text" [(ngModel)]='petService.selectedPet.porte' placeholder="Porte do animal"
            required>
        </div>
        <div class="form-group">
          <label for="idade">Idade</label>
          <input class="form-control" id="idade" name="idade" #idade="ngModel" type="text" [(ngModel)]='petService.selectedPet.idade' placeholder="Idade do animal">
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input class="form-control" id="cidade" name="cidade" #cidade="ngModel" type="text" [(ngModel)]='petService.selectedPet.cidade' placeholder="Cidade em que o animal se encontra"
            required>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <textarea class="form-control" name="descricao" id="descricao" #descricao="ngModel" [(ngModel)]='petService.selectedPet.descricao' cols="30" rows="5" placeholder="Descrição do animal"></textarea>
        </div>
        <div class="form-group">
          <label for="contato">Contato</label>
          <input class="form-control" id="contato" name="contato" #contato="ngModel" type="number" [(ngModel)]='petService.selectedPet.contato'
            placeholder="Número de telefone com DDD" required>
        </div>
          <button class="btn btn-primary mr-2" type="submit" [disabled]="!petForm.valid">Cadastrar</button>
          <button class="btn btn-primary" type="button" (click)='resetForm(petForm)'>Limpar</button>
      </form>
    </div>
  </div>
</section>
