<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-user pr-2"></i>Meus dados
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-newspaper pr-2"></i>Anunciar doação
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-folder-open pr-2"></i>Meus anúncios
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-list pr-2"></i>Ver anúncios
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <i class="fas fa-sign-out-alt pr-2"></i>Sair
  </a>
</div>
