<app-menu></app-menu>

<ngb-carousel>
  <ng-template ngbSlide>
    <img src="./assets/berkay-gumustekin-402114-unsplash.jpg" alt="Random first slide" class="w-100">
    <div class="carousel-caption">
      <h1>BEM VINDO AO DOAÇÃO PET</h1>
      <p class="font-weight-bold">Aqui você pode anúnciar um pet para a doação, ou pode adotar um dos bichinhos que outras pessoas querem doar.</p>
      <a routerLink="/register" class="btn btn-lg btn-success mr-2">FAZER CADASTRO</a>
      <a routerLink="/login" class="btn btn-lg btn-outline-light">ACESSAR</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./assets/luis-mezquita-72072-unsplash.jpg" alt="Random second slide" class="w-100">
    <div class="carousel-caption text-left">
      <h1>DOAÇÃO DE GATOS</h1>
      <p class="font-weight-bold">Aqui você pode anúnciar um pet para a doação ou pode
        <br> adotar um dos bichinhos que outras pessoas querem doar.</p>
      <a routerLink="/register" class="btn btn-lg btn-success mr-2">FAZER CADASTRO</a>
      <a routerLink="/login" class="btn btn-lg btn-outline-light">ACESSAR</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="./assets/anoir-chafik-37957-unsplash.jpg" alt="Random third slide" class="w-100">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>

<main class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 mb-4">
      <h2 class="text-center">ANIMAIS PARA ADOTAR</h2>
    </div>

    <div class="col-12 col-md-10">
      <div class="card-deck">
        <div *ngFor="let pet of petList">
          <div class="card">
            <img class="card-img-top" src="./assets/jairo-alzate-45522-unsplash.jpg" alt="Dog">
            <main class="card-body text-center">
              <h3 class="card-title text-uppercase mb-1">{{pet.tipo}}</h3>
              <h6 class="card-text text-info mb-3"> {{pet.raca}}</h6>
              <a routerLink="/pets-detail" class="btn btn-outline-success text-uppercase">Saiba Mais</a>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>