<app-pets-menu></app-pets-menu>

<section class="container-fluid pl-md-0">
  <div class="row">
    <div class="col-12 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-md-9 my-4">
      <h1 class="text-info">Minhas informações</h1>

      <div *ngIf="loginService.user | async as user;  else elseBlock">
        <div *ngFor='let users of userList'>
          <div *ngIf='users.userKey == user.uid'>
            <ul>
              <li>Nome: {{users.name}}</li>
              <li>Email: {{users.email}}</li>
              <li>Contato: {{users.phoneNumber}}</li>
              <li>Cidade: {{users.cidade}}</li>
            </ul>
            <button class="btn btn-default" (click)='onEdit(users)'>Edit</button>
            <button class="btn btn-alert" (click)="onDelete(users.$key)">Delete</button>
          </div>
        </div>

        <div *ngIf='validadorButton == true'>
          <button class="btn btn-success" type="button" (click)='validador()'>Cadastrar</button>
        </div>

        <div *ngIf='validadorForm == true'>

          <form #userForm="ngForm" (ngSubmit)='onSubmit(userForm)'>
            <input name="$key" #$key="ngModel" type="hidden" [(ngModel)]='userDateService.selectedUser.$key'>
            <div class="form-group">
              <label>Nome</label>
              <input class="form-control" type="text" #name="ngModel" [(ngModel)]='userDateService.selectedUser.name' name="name" required>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" #email='ngModel' [(ngModel)]='userDateService.selectedUser.email' name="email">
            </div>
            <div class="form-group">
              <label>Telefone</label>
              <input class="form-control" type="number" #phoneNumber='ngModel' [(ngModel)]='userDateService.selectedUser.phoneNumber' name="phoneNumber">
            </div>
            <div class="form-group">
              <label>Cidade</label>
              <input class="form-control" type="text" #cidade='ngModel' [(ngModel)]='userDateService.selectedUser.cidade' name="cidade">
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!userForm.valid">Salvar</button>
            <button class="btn btn-default" type="button" (click)='resetForm(userForm)'>Reset</button>
            <button class="btn btn-alert" type="button" (click)='fecharForm()'>Cancelar</button>
          </form>
        </div>

      </div>

      <ng-template #elseBlock>
        <a routerLink='/login'>
          <h4>Faça o login</h4>
        </a>
      </ng-template>

    </div>
  </div>
</section>